.container{
    display:grid;
    width: 700x;
    height:100vh;
    grid-template-rows:1fr 3fr 5fr 1fr ;
    grid-template-columns:2.5fr 2.5fr 2.5fr 2.5fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-areas: "a1 a1 a1 a1"
                         "a2 a3 a4 a5"
                         "a6 a6 a6 a5"
                         "a7 a7 a7 a7";
}
.aa1{
    grid-area: a1;
    background-color:palevioletred ;
}
.aa2{
    background-color: rgb(226, 36, 36);
}
.aa3{
    background-color: aqua;
}
.aa4{
    background-color: blueviolet;
}
.aa5{
    grid-area: a5;
    background-color: brown;
}
.aa6{
    grid-area: a6;
    background-color: orangered;
}
.aa7{
    grid-area: a7;
    background-color:blue;
}
.container >div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}