.container{
    display:grid;
    height: 97vh;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
}
.s1{
    background-color: blue;
    grid-row:1/2;
    grid-column:1/4;
}
.s2{
    background-color: aqua;
}
.s3{
    background-color: azure;
}
.s4{
    background-color: aqua;
}
.s5{
    background-color: blue;
    grid-column: 1/4;
}
.container >div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}